<div .container>
  <div .row .my-5 .d-flex .justify-content-center>
    <h1 .display-1 .my-1>
      Snotify
    <h2 .display-4 .my-1 .text-center>
      Get notified of secrets in your git repository

  <div .row .d-flex .justify-content-center>
      <a .btn .btn-primary .btn-lg href=@{AuthR LoginR}>
        Get started

  <div .row .d-flex .justify-content-center .mt-5 .mb-1 >
    <h1>
      How it works

  <div .row .d-flex .justify-content-center .mt-1 .mb-5>
    <ol .my-1>
      <li>
        Sign up with snotify
      <li>
        Choose repositories
      <li>
        Get notified of secrets in your repositories


  <div .row .d-flex .justify-content-center .mt-5 .mb-1 >
    <h2>
      Supported secrets

  <div .row .d-flex .justify-content-center .mt-1 .mb-5 >
    <ul .list-group>
      <li .list-group-item>
        <img src=@{StaticR ssh_png} width=64px height=64px .mr-1>
        SSH Keys
      <li .list-group-item>
        <img src=@{StaticR stripe_png} width=64px height=64px .mr-1>
        Stripe Keys
      <li .list-group-item>
        More coming soon
